In [40]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in e:\programdata\anaconda3\lib\site-packages (1.4.22)
Requirement already satisfied: greenlet!=0.4.17 in e:\programdata\anaconda3\lib\site-packages (from sqlalchemy) (1.1.1)

In [41]:
!pip install pymysql

Requirement already satisfied: pymysql in e:\programdata\anaconda3\lib\site-packages (1.0.2)

In [42]:
pymysql.version_info

(1, 4, 0, 'final', 0)

In [43]:
sqlalchemy.__version__

'1.4.22'

In [44]:
import pandas as pd
import pymysql
import sqlalchemy
import os
#from dotenv import load_dotenv

In [45]:
import sqlalchemy # install if needed
from sqlalchemy import create_engine

In [46]:
city_df = pd.read_csv("/Users/ADMIN/Documents/WBS/Web_scrapping/Data_Engineering_Pipelines/city_data.csv")
weather_df = pd.read_csv("/Users/ADMIN/Documents/WBS/Web_scrapping/Data_Engineering_Pipelines/weather_data.csv")
airport_df = pd.read_csv("/Users/ADMIN/Documents/WBS/Web_scrapping/Data_Engineering_Pipelines/airport_data.csv")
flight_df = pd.read_csv("/Users/ADMIN/Documents/WBS/Web_scrapping/Data_Engineering_Pipelines/flight_data.csv")

In [47]:
city_df.head()

,Unnamed: 0,city_id,city,country,country_code,region,elevation,city_latitude,city_longitude,population
0,0,Q64,Berlin,Germany,DE,Berlin,NaN,52.516667,13.383333,3664088
1,1,Q1055,Hamburg,Germany,DE,Hamburg,NaN,53.550000,10.000000,1852478
2,2,Q1726,Munich,Germany,DE,Bavaria,519.0,48.134520,11.571000,1488202
3,3,Q365,Cologne,Germany,DE,North Rhine-Westphalia,52.0,50.942222,6.957778,1083498
4,4,Q1794,Frankfurt am Main,Germany,DE,Hesse,112.0,50.113611,8.679722,764104

In [48]:
city_df.drop(columns = ["Unnamed: 0"], inplace = True)
weather_df.drop(columns = ["Unnamed: 0"], inplace = True)
airport_df.drop(columns = ["Unnamed: 0"], inplace = True)
flight_df.drop(columns = ["Unnamed: 0"], inplace = True)

In [49]:
city_df.head()

,city_id,city,country,country_code,region,elevation,city_latitude,city_longitude,population
0,Q64,Berlin,Germany,DE,Berlin,NaN,52.516667,13.383333,3664088
1,Q1055,Hamburg,Germany,DE,Hamburg,NaN,53.550000,10.000000,1852478
2,Q1726,Munich,Germany,DE,Bavaria,519.0,48.134520,11.571000,1488202
3,Q365,Cologne,Germany,DE,North Rhine-Westphalia,52.0,50.942222,6.957778,1083498
4,Q1794,Frankfurt am Main,Germany,DE,Hesse,112.0,50.113611,8.679722,764104

In [50]:
#load_dotenv()

In [58]:
schema = "gans"
host = "127.0.0.1"
user = "root"
password ="*****"
port = 3306
con = f"mysql+pymysql://{user}:{password}@{host}:{port}/{schema}"

In [59]:
engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:{port}/{schema}", echo=False)

In [60]:
city_df.to_sql("cities", if_exists = "append", con = engine, index = False)

IntegrityError: (pymysql.err.IntegrityError) (1062, "Duplicate entry 'Q64' for key 'cities.PRIMARY'")
[SQL: INSERT INTO cities (city_id, city, country, country_code, region, elevation, city_latitude, city_longitude, population) VALUES (%(city_id)s, %(city)s, %(country)s, %(country_code)s, %(region)s, %(elevation)s, %(city_latitude)s, %(city_longitude)s, %(population)s)]
[parameters: ({'city_id': 'Q64', 'city': 'Berlin', 'country': 'Germany', 'country_code': 'DE', 'region': 'Berlin', 'elevation': None, 'city_latitude': 52.516666666, 'city_longitude': 13.383333333, 'population': 3664088}, {'city_id': 'Q1055', 'city': 'Hamburg', 'country': 'Germany', 'country_code': 'DE', 'region': 'Hamburg', 'elevation': None, 'city_latitude': 53.55, 'city_longitude': 10.0, 'population': 1852478}, {'city_id': 'Q1726', 'city': 'Munich', 'country': 'Germany', 'country_code': 'DE', 'region': 'Bavaria', 'elevation': 519.0, 'city_latitude': 48.13452, 'city_longitude': 11.571, 'population': 1488202}, {'city_id': 'Q365', 'city': 'Cologne', 'country': 'Germany', 'country_code': 'DE', 'region': 'North Rhine-Westphalia', 'elevation': 52.0, 'city_latitude': 50.942222222, 'city_longitude': 6.957777777, 'population': 1083498}, {'city_id': 'Q1794', 'city': 'Frankfurt am Main', 'country': 'Germany', 'country_code': 'DE', 'region': 'Hesse', 'elevation': 112.0, 'city_latitude': 50.113611111, 'city_longitude': 8.679722222, 'population': 764104}, {'city_id': 'Q1022', 'city': 'Stuttgart', 'country': 'Germany', 'country_code': 'DE', 'region': 'Baden-Württemberg', 'elevation': 245.0, 'city_latitude': 48.776111111, 'city_longitude': 9.1775, 'population': 630305}, {'city_id': 'Q1718', 'city': 'Düsseldorf', 'country': 'Germany', 'country_code': 'DE', 'region': 'North Rhine-Westphalia', 'elevation': 38.0, 'city_latitude': 51.231144444, 'city_longitude': 6.772380555, 'population': 645923}, {'city_id': 'Q1295', 'city': 'Dortmund', 'country': 'Germany', 'country_code': 'DE', 'region': 'North Rhine-Westphalia', 'elevation': 86.0, 'city_latitude': 51.513888888, 'city_longitude': 7.465277777, 'population': 587696}  ... displaying 10 of 15 total bound parameter sets ...  {'city_id': 'Q34713', 'city': 'Salzburg', 'country': 'Austria', 'country_code': 'AT', 'region': 'Salzburg', 'elevation': 424.0, 'city_latitude': 47.80067, 'city_longitude': 13.04532, 'population': 155021}, {'city_id': 'Q1735', 'city': 'Innsbruck', 'country': 'Austria', 'country_code': 'AT', 'region': 'Tyrol', 'elevation': 574.0, 'city_latitude': 47.268333333, 'city_longitude': 11.393333333, 'population': 131961})]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

In [63]:
weather_df.to_sql("weathers", if_exists = "append", con = engine, index = False)

600

In [62]:
airport_df.to_sql("airports", if_exists = "append", con = engine, index = False)

IntegrityError: (pymysql.err.IntegrityError) (1062, "Duplicate entry 'EDDT' for key 'airports.PRIMARY'")
[SQL: INSERT INTO airports (icao, iata, airport_name, municipality_name, country_code, airport_latitude, airport_longitude, city_id) VALUES (%(icao)s, %(iata)s, %(airport_name)s, %(municipality_name)s, %(country_code)s, %(airport_latitude)s, %(airport_longitude)s, %(city_id)s)]
[parameters: ({'icao': 'EDDT', 'iata': 'TXL', 'airport_name': 'Berlin, Berlin-Tegel', 'municipality_name': 'Berlin', 'country_code': 'DE', 'airport_latitude': 52.5597, 'airport_longitude': 13.287699, 'city_id': 'Q64'}, {'icao': 'EDDB', 'iata': 'BER', 'airport_name': 'Berlin, Berlin Brandenburg', 'municipality_name': 'Berlin', 'country_code': 'DE', 'airport_latitude': 52.35139, 'airport_longitude': 13.493889, 'city_id': 'Q64'}, {'icao': 'EDDH', 'iata': 'HAM', 'airport_name': 'Hamburg', 'municipality_name': 'Hamburg', 'country_code': 'DE', 'airport_latitude': 53.6304, 'airport_longitude': 9.988229, 'city_id': 'Q1055'}, {'icao': 'EDDM', 'iata': 'MUC', 'airport_name': 'Munich', 'municipality_name': 'Munich', 'country_code': 'DE', 'airport_latitude': 48.3538, 'airport_longitude': 11.7861, 'city_id': 'Q1726'}, {'icao': 'EDDK', 'iata': 'CGN', 'airport_name': 'Cologne, Cologne Bonn', 'municipality_name': 'Cologne', 'country_code': 'DE', 'airport_latitude': 50.8659, 'airport_longitude': 7.142739, 'city_id': 'Q365'}, {'icao': 'EDDL', 'iata': 'DUS', 'airport_name': 'Duesseldorf, Düsseldorf', 'municipality_name': 'Düsseldorf', 'country_code': 'DE', 'airport_latitude': 51.2895, 'airport_longitude': 6.766779, 'city_id': 'Q1718'}, {'icao': 'EDDF', 'iata': 'FRA', 'airport_name': 'Frankfurt-am-Main', 'municipality_name': 'Frankfurt am Main', 'country_code': 'DE', 'airport_latitude': 50.0264, 'airport_longitude': 8.543129, 'city_id': 'Q1794'}, {'icao': 'EDDS', 'iata': 'STR', 'airport_name': 'Stuttgart', 'municipality_name': 'Stuttgart', 'country_code': 'DE', 'airport_latitude': 48.6899, 'airport_longitude': 9.22196, 'city_id': 'Q1022'}  ... displaying 10 of 15 total bound parameter sets ...  {'icao': 'LOWS', 'iata': 'SZG', 'airport_name': 'Salzburg', 'municipality_name': 'Salzburg', 'country_code': 'AT', 'airport_latitude': 47.7933, 'airport_longitude': 13.0043, 'city_id': 'Q34713'}, {'icao': 'LOWI', 'iata': 'INN', 'airport_name': 'Innsbruck', 'municipality_name': 'Innsbruck', 'country_code': 'AT', 'airport_latitude': 47.2602, 'airport_longitude': 11.343999, 'city_id': 'Q1735'})]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

In [56]:
flight_df.to_sql("flights", if_exists = "append", con = engine, index = False)

2451